* {
	margin: 0;
	padding: 0;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #3C3C3C;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#debug {
	background-color: black;
	border: 1px white solid;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 50;
}

#debug span {
	font-family: monospace;
	font-size: 16px;
	display: block;
}

#debug_red { color: #FF2800; }
#debug_yellow { color: #C3C300; }
#debug_orange { color: #FF7900; }
#debug_green { color: #00CB00; }
#debug_pink { color: #DF51B6; }
#debug_blue { color: #00A2CB; }

#wrapper {
	align-items: center;
	display: flex;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.border {
	border-style: solid;
	border-width: 1px;
	display: flex; /* to prevent weird extra space at the bottom */
}

#border1 {
	border-color: #828282;
	position: relative; /* to allow absolute positioning of descendants*/
}

#border2 {
	border-color: #717171;
}

#border3 {
	border-color: #616161;
}

#border4 {
	border-color: #515151;
}

.overlay {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#lobby, #KONEC_HRY, #canvas {
	background-color: black;
}

#lobby {
	z-index: 20;
}

#lobby.hidden, #KONEC_HRY.hidden {
	display: none;
}

#lobby #controls {
	list-style-type: none;
	margin-left: 81px;
	margin-top: 50px;
}

#lobby #controls li {
	height: 50px;
}

#lobby #controls li div {
	float: left;
	height: 100%;
	background-repeat: no-repeat;
}

#lobby #controls .controls {
	width: 159px;
}

#lobby #controls .ready {
	display: none;
	width: 80px;
}

#lobby #controls .ready.active {
	display: block;
}

#lobby #controls .red.controls    { background-image: url("resources/kurve-lobby-controls-red.png");    }
#lobby #controls .red.ready       { background-image: url("resources/kurve-lobby-ready-red.png");       }
#lobby #controls .yellow.controls { background-image: url("resources/kurve-lobby-controls-yellow.png"); }
#lobby #controls .yellow.ready    { background-image: url("resources/kurve-lobby-ready-yellow.png");    }
#lobby #controls .orange.controls { background-image: url("resources/kurve-lobby-controls-orange.png"); }
#lobby #controls .orange.ready    { background-image: url("resources/kurve-lobby-ready-orange.png");    }
#lobby #controls .green.controls  { background-image: url("resources/kurve-lobby-controls-green.png");  }
#lobby #controls .green.ready     { background-image: url("resources/kurve-lobby-ready-green.png");     }
#lobby #controls .pink.controls   { background-image: url("resources/kurve-lobby-controls-pink.png");   }
#lobby #controls .pink.ready      { background-image: url("resources/kurve-lobby-ready-pink.png");      }
#lobby #controls .blue.controls   { background-image: url("resources/kurve-lobby-controls-blue.png");   }
#lobby #controls .blue.ready      { background-image: url("resources/kurve-lobby-ready-blue.png");      }

#canvas {
	z-index: 10;
}

#heads {
	z-index: 12;
}

#left, #scoreboard {
	z-index: 5;
	box-sizing: border-box;
	min-height: 100%;
	height: 480px;
	width: 77px;
}

#scoreboard {
	padding: 0 12px 0 9px;
}

#KONEC_HRY {
	z-index: 30;
	background-image: url("resources/kurve-konec-hry.png");
}

#KONEC_HRY #results {
	list-style-type: none;
	margin-top: 80px;
	margin-left: 250px;
}

/* General rules for digits: */
.digits {
	visibility: hidden;
}

.active.digits {
	visibility: visible;
}

.digits > div {
	display: inline-block;
	float: left;
}

/* Don't display 0: */
.digits .d0 {
	display: none;
}

/* Except for at the ones position: */
.digits .d0:last-child {
	display: inline-block;
}

.red.digits    div { background-image: url("resources/kurve-digits-red.png");    }
.yellow.digits div { background-image: url("resources/kurve-digits-yellow.png"); }
.orange.digits div { background-image: url("resources/kurve-digits-orange.png"); }
.green.digits  div { background-image: url("resources/kurve-digits-green.png");  }
.pink.digits   div { background-image: url("resources/kurve-digits-pink.png");   }
.blue.digits   div { background-image: url("resources/kurve-digits-blue.png");   }

/* Scoreboard digits: */
#scoreboard .digits {
	height: 43px;
	margin-bottom: 37px;
}

#scoreboard .digits > div {
	height: 43px;
	width: 28px;
}

#scoreboard .digits .d0 { background-position:    0px 0; }
#scoreboard .digits .d1 { background-position:  -28px 0; }
#scoreboard .digits .d2 { background-position:  -56px 0; }
#scoreboard .digits .d3 { background-position:  -84px 0; }
#scoreboard .digits .d4 { background-position: -112px 0; }
#scoreboard .digits .d5 { background-position: -140px 0; }
#scoreboard .digits .d6 { background-position: -168px 0; }
#scoreboard .digits .d7 { background-position: -196px 0; }
#scoreboard .digits .d8 { background-position: -224px 0; }
#scoreboard .digits .d9 { background-position: -252px 0; }

/* KONEC HRY digits: */
#KONEC_HRY .digits {
	height: 14px;
	margin-bottom: 26px;
}

#KONEC_HRY .digits > div {
	height: 14px;
	width: 16px;
}

#KONEC_HRY .digits .d0 { background-position:    0px -43px; }
#KONEC_HRY .digits .d1 { background-position:  -28px -43px; }
#KONEC_HRY .digits .d2 { background-position:  -56px -43px; }
#KONEC_HRY .digits .d3 { background-position:  -84px -43px; }
#KONEC_HRY .digits .d4 { background-position: -112px -43px; }
#KONEC_HRY .digits .d5 { background-position: -140px -43px; }
#KONEC_HRY .digits .d6 { background-position: -168px -43px; }
#KONEC_HRY .digits .d7 { background-position: -196px -43px; }
#KONEC_HRY .digits .d8 { background-position: -224px -43px; }
#KONEC_HRY .digits .d9 { background-position: -252px -43px; }




/*************************/
/******** SCALING ********/
/*************************/

/*
640 = Kurve total width
480 = Kurve total height
559 = Kurve canvas width (excluding border)
81  = Scoreboard width (including border)
721 = 559 + 2*81 = total width including borders, #left and scoreboard
*/

@media screen and (max-width: 640px) {
	#left { display: none; }
	body { justify-content: flex-start; }
	.border { border-left-width: 0; }
}

/* ======== 1x ======== */
@media screen and (min-width: 640px) and (min-height: 480px) {
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 1;
		-moz-transform: scale(1);
	}
}

@media screen and (min-width: 721px) and (min-height: 480px) {
	body { justify-content: center; }
}


/* ======== 2x ======== */
@media screen and (min-width: 1280px) and (min-height: 960px) {
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 2;
		-moz-transform: scale(2);
	}
}

@media screen and (min-width: 1442px) and (min-height: 960px) {
	body { justify-content: center; }
}


/* ======== 3x ======== */
@media screen and (min-width: 1920px) and (min-height: 1440px) {
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 3;
		-moz-transform: scale(3);
	}
}

@media screen and (min-width: 2163px) and (min-height: 1440px) {
	body { justify-content: center; }
}


/* ======== 4x ======== */
@media screen and (min-width: 2560px) and (min-height: 1920px) {
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 4;
		-moz-transform: scale(4);
	}
}

@media screen and (min-width: 2884px) and (min-height: 1920px) {
	body { justify-content: center; }
}


/* ======== 5x ======== */
@media screen and (min-width: 3200px) and (min-height: 2400px) {
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 5;
		-moz-transform: scale(5);
	}
}

@media screen and (min-width: 3605px) and (min-height: 2400px) {
	body { justify-content: center; }
}


/* ======== 6x ======== */
@media screen and (min-width: 3840px) and (min-height: 2880px) {
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 6;
		-moz-transform: scale(6);
	}
}

@media screen and (min-width: 4326px) and (min-height: 2880px) {
	body { justify-content: center; }
}


/* ======== 7x ======== */
@media screen and (min-width: 4480px) and (min-height: 3360px) {
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 7;
		-moz-transform: scale(7);
	}
}

@media screen and (min-width: 5047px) and (min-height: 3360px) {
	body { justify-content: center; }
}


/* ======== 8x ======== */
@media screen and (min-width: 5120px) and (min-height: 3840px) {
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 8;
		-moz-transform: scale(8);
	}
}

@media screen and (min-width: 5768px) and (min-height: 3840px) {
	body { justify-content: center; }
}


/* ======== 9x ======== */
@media screen and (min-width: 5760px) and (min-height: 4320px) {
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 9;
		-moz-transform: scale(9);
	}
}

@media screen and (min-width: 6489px) and (min-height: 4320px) {
	body { justify-content: center; }
}


/* ======== 10x ======== */
@media screen and (min-width: 6400px) and (min-height: 4800px) {
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 10;
		-moz-transform: scale(10);
	}
}

@media screen and (min-width: 7210px) and (min-height: 4800px) {
	body { justify-content: center; }
}
