* {
	margin: 0;
	padding: 0;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #3C3C3C;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#debug {
	position: fixed;
	background-color: black;
	border: 1px white solid;
	top: 0;
	left: 0;
}

#debug span {
	font-family: monospace;
	font-size: 16px;
	display: block;
}

#debug_red { color: #FF2800; }
#debug_yellow { color: #C3C300; }
#debug_orange { color: #FF7900; }
#debug_green { color: #00CB00; }
#debug_pink { color: #DF51B6; }
#debug_blue { color: #00A2CB; }

#wrapper {
	display: flex;
	align-items: center;
}

.border {
	border-style: solid;
	display: flex;
}

#border2 {
	border-color: #717171;
	position: relative; /* to allow absolute positioning of #lobby */
}

#border3 {
	border-color: #616161;
}

#border4 {
	border-color: #515151;
}

#lobby {
	background-color: rgba(0, 0, 0, 0.8);
	display: block;
	height: 480px;
	left: 0;
	margin: 1px;
	position: absolute;
	top: 0;
	width: 559px;
	z-index: 20;
}

#lobby.hidden {
	display: none;
}

#lobby #controls {
	list-style-type: none;
	margin-left: 81px;
	margin-top: 50px;
}

#lobby #controls li {
	height: 50px;
}

#lobby #controls li div {
	float: left;
	height: 100%;
	background-repeat: no-repeat;
}

#lobby #controls .controls {
	width: 159px;
}

#lobby #controls .ready {
	display: none;
	width: 80px;
}

#lobby #controls .ready.active {
	display: block;
}

#lobby #controls .red.controls    { background-image: url("resources/kurve-lobby-controls-red.png");    }
#lobby #controls .red.ready       { background-image: url("resources/kurve-lobby-ready-red.png");       }
#lobby #controls .yellow.controls { background-image: url("resources/kurve-lobby-controls-yellow.png"); }
#lobby #controls .yellow.ready    { background-image: url("resources/kurve-lobby-ready-yellow.png");    }
#lobby #controls .orange.controls { background-image: url("resources/kurve-lobby-controls-orange.png"); }
#lobby #controls .orange.ready    { background-image: url("resources/kurve-lobby-ready-orange.png");    }
#lobby #controls .green.controls  { background-image: url("resources/kurve-lobby-controls-green.png");  }
#lobby #controls .green.ready     { background-image: url("resources/kurve-lobby-ready-green.png");     }
#lobby #controls .pink.controls   { background-image: url("resources/kurve-lobby-controls-pink.png");   }
#lobby #controls .pink.ready      { background-image: url("resources/kurve-lobby-ready-pink.png");      }
#lobby #controls .blue.controls   { background-image: url("resources/kurve-lobby-controls-blue.png");   }
#lobby #controls .blue.ready      { background-image: url("resources/kurve-lobby-ready-blue.png");      }

#canvas {
	background-color: black;
	border-color: #828282;
	z-index: 10;
}

#left, #scoreboard {
	z-index: 5;
	box-sizing: border-box;
	min-height: 100%;
}

#scoreboard {
	padding: 0 12px 0 9px;
}

.digits {
	height: 43px;
	display: none;
}

.active.digits {
	display: block;
}

.digits > div {
	height: 43px;
	width: 28px;
	display: inline-block;
	float: right;
}

.red.digits    div { background-image: url("resources/kurve-digits-red.png");    }
.yellow.digits div { background-image: url("resources/kurve-digits-yellow.png"); }
.orange.digits div { background-image: url("resources/kurve-digits-orange.png"); }
.green.digits  div { background-image: url("resources/kurve-digits-green.png");  }
.pink.digits   div { background-image: url("resources/kurve-digits-pink.png");   }
.blue.digits   div { background-image: url("resources/kurve-digits-blue.png");   }


/* Don't display 0: */
.digits .d0 {
	background-position: 0 0;
	display: none;
}

/* Except for at the ones position: */
.digits .d0:first-child {
	display: block;
}

.digits .d1 { background-position:  -28px 0; }
.digits .d2 { background-position:  -56px 0; }
.digits .d3 { background-position:  -84px 0; }
.digits .d4 { background-position: -112px 0; }
.digits .d5 { background-position: -140px 0; }
.digits .d6 { background-position: -168px 0; }
.digits .d7 { background-position: -196px 0; }
.digits .d8 { background-position: -224px 0; }
.digits .d9 { background-position: -252px 0; }



/* ======== 1x ======== */
/*
640 = Kurve width
480 = Kurve height
559 = Kurve field width (excluding border)
77  = Scoreboard width (excluding border)
81  = Scoreboard width (including border)
721 = 559 + 2*81 = total width including borders, #left and scoreboard
*/
@media screen and (min-width: 640px) and (min-height: 480px) {
	body { justify-content: flex-end; }
	#canvas {
	    width: 559px;
	    height: 480px;
	}
	.border     { border-width: 1px; }
	aside       { width: 77px; height: 480px; }
	.digit      { width: 28px; height: 43px; }
}

@media screen and (min-width: 721px) and (min-height: 480px) {
	body { justify-content: center; }
}


/* ======== 2x ======== */
@media screen and (min-width: 1280px) and (min-height: 960px) {
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 2;
		-moz-transform: scale(2);
	}
}

@media screen and (min-width: 1442px) and (min-height: 960px) {
	body { justify-content: center; }
}


/* ======== 3x ======== */
@media screen and (min-width: 1920px) and (min-height: 1440px) {
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 3;
		-moz-transform: scale(3);
	}
	body { justify-content: center; }
}

@media screen and (min-width: 2163px) and (min-height: 1440px) {
	body { justify-content: center; }
}


/* ======== 4x ======== */
@media screen and (min-width: 2560px) and (min-height: 1920px) { /*TODO*/
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 4;
	}
}

@media screen and (min-width: 2884px) and (min-height: 1920px) { /*TODO*/
	body { justify-content: center; }
}


/* ======== 5x ======== */
@media screen and (min-width: 3200px) and (min-height: 2400px) { /*TODO*/
	body { justify-content: flex-end; }
	#wrapper {
		zoom: 5;
	}
}

@media screen and (min-width: 3605px) and (min-height: 2400px) { /*TODO*/
	body { justify-content: center; }
}


/* ======== 2x ======== */
/*@media screen and (min-width: 1280px) and (min-height: 960px) {
	body { justify-content: flex-end; }
	#canvas {
    	width: 1118px;
	    height: 960px;
	}
	.border     { border-width: 2px; }
	aside       { width: 154px; height: 960px; }
	#scoreboard { padding-left: 18px; }
	.digit      { width: 56px; height: 86px; background-size: 560px; }
}*/


/* ======== 3x ======== */
/*@media screen and (min-width: 1920px) and (min-height: 1440px) {
	body { justify-content: flex-end; }
	#canvas {
	    width: 1677px;
	    height: 1440px;
	}
	.border     { border-width: 3px; }
	aside       { width: 231px; height: 1440px; }
	#scoreboard { padding-left: 27px; }
	.digit      { width: 84px; height: 129px; background-size: 840px; }
}*/


/* ======== 4x ======== */
/*@media screen and (min-width: 2560px) and (min-height: 1920px) {
	body { justify-content: flex-end; }
	#canvas {
	    width: 2236px;
	    height: 1920px;
	}
	.border     { border-width: 4px; }
	aside       { width: 308px; height: 1920px; }
	#scoreboard { padding-left: 36px; }
	.digit      { width: 112px; height: 172px; background-size: 1120px; }
}*/



/* ======== 5x ======== */
/*@media screen and (min-width: 3200px) and (min-height: 2400px) {
	body { justify-content: flex-end; }
	#canvas {
	    width: 2795px;
	    height: 2400px;
	}
	.border     { border-width: 5px; }
	aside       { width: 385px; height: 2400px; }
	#scoreboard { padding-left: 45px; }
	.digit      { width: 140px; height: 215px; background-size: 1400px; }
}*/
