* {
    margin: 0;
    padding: 0;
    font-family: "Consolas", monospace;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #3C3C3C;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    font-size: 12px;
}

h1 {
    display: none;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

#wrapper {
    align-items: center;
    display: flex;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.border {
    border-style: solid;
    border-width: 1px;
    display: flex; /* to prevent weird extra space at the bottom */
}

#border1 {
    border-color: #828282;
    position: relative; /* to allow absolute positioning of descendants*/
}

#border2 {
    border-color: #717171;
}

#border3 {
    border-color: #616161;
}

#border4 {
    border-color: #515151;
    margin-left: 76px;
}

.overlay {
    left: 0;
    position: absolute;
    top: 0;
}

.largeDigit {
    width: 28px;
    height: 43px;
    display: inline-block;
    -webkit-mask-image: url("../resources/digits-large.png");
    mask-image: url("../resources/digits-large.png");
}

#lobby {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-left: 81px;
    box-sizing: border-box;

    .playerEntry {
        width: 100%;
        height: 50px;

        > div {
            height: 100%;
            display: inline-block;
            $maskRepeat: no-repeat;
            -webkit-mask-repeat: $maskRepeat;
            mask-repeat: $maskRepeat;
        }

        .controls {
            width: 160px;
            $maskPosition: 1px 0;
            -webkit-mask-position: $maskPosition;
            mask-position: $maskPosition;
        }

        .ready {
            width: 80px;
            $maskImage: url("../resources/ready.png");
            -webkit-mask-image: $maskImage;
            mask-image: $maskImage;
        }
    }
}

#scoreboard {
    width: 77px;
    box-sizing: border-box;
    padding: 20px 12px 0 9px;

    .scoreboardEntry {
        height: 80px;
    }
}

#canvas_main {
    background-color: black;
    overflow: hidden;
}

.canvasHeight {
    height: 480px;
}

#left {
    box-sizing: border-box;
    width: 1px; /* so width of #wrapper is an even number */
}




/*************************/
/******** SCALING ********/
/*************************/

/*
640 = Kurve total width
480 = Kurve total height
559 = Kurve canvas width (excluding border)
77  = #scoreboard width (excluding border)
76  = #left width (excluding border)
720 = 76 + 4 + 559 + 4 + 77 = total width including borders, #left, and #scoreboard
*/

@media screen and (max-width: 639px) {
    #left { display: none; }
    body#ZATACKA { justify-content: flex-start; }
    #wrapper { transform-origin: center; }
    .border { border-left-width: 0; }
}


/* ======== 1x ======== */
@media (min-width: 640px) and (min-height: 480px) {
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 1;
        -moz-transform: scale(1);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media (min-width: 720px) and (min-height: 480px) {
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 1x (2dppx) ======== */
@media
    (min-width: 360px) and (min-height: 240px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 360px) and (min-height: 240px) and (-webkit-resolution: 2),
    (min-width: 360px) and (min-height: 240px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 0.5;
        -moz-transform: scale(0.5);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media
    (min-width: 360px) and (min-height: 240px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 360px) and (min-height: 240px) and (-webkit-resolution: 2),
    (min-width: 360px) and (min-height: 240px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 1.25x ======== (only used if pixelmapping is not enforced) */
@media (min-width: 800px) and (min-height: 600px) {
    body#ZATACKA.blurry { justify-content: flex-end; }
    body#ZATACKA.blurry { transform-origin: right; }
    body.blurry #wrapper {
        zoom: 1.25;
        -moz-transform: scale(1.25);
    }
    body.blurry * {
        image-rendering: auto;
    }
}

@media (min-width: 900px) and (min-height: 600px) {
    body#ZATACKA.blurry { justify-content: center; }
    body#ZATACKA.blurry #wrapper { transform-origin: center; }
}


/* ======== 1.25x (2dppx) ======== (only used if pixelmapping is not enforced) */
@media
    (min-width: 450px) and (min-height: 300px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 450px) and (min-height: 300px) and (-webkit-resolution: 2),
    (min-width: 450px) and (min-height: 300px) and (resolution: 2)
{
    body#ZATACKA.blurry { justify-content: flex-end; }
    body#ZATACKA.blurry { transform-origin: right; }
    body.blurry #wrapper {
        zoom: 0.625;
        -moz-transform: scale(0.625);
    }
    body.blurry * {
        image-rendering: auto;
    }
}

@media
    (min-width: 450px) and (min-height: 300px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 450px) and (min-height: 300px) and (-webkit-resolution: 2),
    (min-width: 450px) and (min-height: 300px) and (resolution: 2)
{
    body#ZATACKA.blurry { justify-content: center; }
    body#ZATACKA.blurry #wrapper { transform-origin: center; }
}


/* ======== 1.5x ======== (only used if pixelmapping is not enforced) */
@media (min-width: 960px) and (min-height: 720px) {
    body#ZATACKA.blurry { justify-content: flex-end; }
    body#ZATACKA.blurry { transform-origin: right; }
    body.blurry #wrapper {
        zoom: 1.5;
        -moz-transform: scale(1.5);
    }
    body.blurry * {
        image-rendering: auto;
    }
}

@media (min-width: 1080px) and (min-height: 720px) {
    body#ZATACKA.blurry { justify-content: center; }
    body#ZATACKA.blurry #wrapper { transform-origin: center; }
}


/* ======== 1.5x (2dppx) ======== (only used if pixelmapping is not enforced) */
@media
    (min-width: 540px) and (min-height: 360px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 540px) and (min-height: 360px) and (-webkit-resolution: 2),
    (min-width: 540px) and (min-height: 360px) and (resolution: 2)
{
    body#ZATACKA.blurry { justify-content: flex-end; }
    body#ZATACKA.blurry { transform-origin: right; }
    body.blurry #wrapper {
        zoom: 0.75;
        -moz-transform: scale(0.75);
    }
    body.blurry * {
        image-rendering: auto;
    }
}

@media
    (min-width: 540px) and (min-height: 360px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 540px) and (min-height: 360px) and (-webkit-resolution: 2),
    (min-width: 540px) and (min-height: 360px) and (resolution: 2)
{
    body#ZATACKA.blurry { justify-content: center; }
    body#ZATACKA.blurry #wrapper { transform-origin: center; }
}


/* ======== 1.75x ======== (only used if pixelmapping is not enforced) */
@media (min-width: 1120px) and (min-height: 840px) {
    body#ZATACKA.blurry { justify-content: flex-end; }
    body#ZATACKA.blurry { transform-origin: right; }
    body.blurry #wrapper {
        zoom: 1.75;
        -moz-transform: scale(1.75);
    }
    body.blurry * {
        image-rendering: auto;
    }
}

@media (min-width: 1260px) and (min-height: 840px) {
    body#ZATACKA.blurry { justify-content: center; }
    body#ZATACKA.blurry #wrapper { transform-origin: center; }
}


/* ======== 1.75x (2dppx) ======== (only used if pixelmapping is not enforced) */
@media
    (min-width: 630px) and (min-height: 420px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 630px) and (min-height: 420px) and (-webkit-resolution: 2),
    (min-width: 630px) and (min-height: 420px) and (resolution: 2)
{
    body#ZATACKA.blurry { justify-content: flex-end; }
    body#ZATACKA.blurry { transform-origin: right; }
    body.blurry #wrapper {
        zoom: 0.875;
        -moz-transform: scale(0.875);
    }
    body.blurry * {
        image-rendering: auto;
    }
}

@media
    (min-width: 630px) and (min-height: 420px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 630px) and (min-height: 420px) and (-webkit-resolution: 2),
    (min-width: 630px) and (min-height: 420px) and (resolution: 2)
{
    body#ZATACKA.blurry { justify-content: center; }
    body#ZATACKA.blurry #wrapper { transform-origin: center; }
}


/* ======== 2x ======== */
@media (min-width: 1280px) and (min-height: 960px) {
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 2;
        -moz-transform: scale(2);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media (min-width: 1440px) and (min-height: 960px) {
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 2x (2dppx) ======== */
@media
    (min-width: 720px) and (min-height: 480px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 720px) and (min-height: 480px) and (-webkit-resolution: 2),
    (min-width: 720px) and (min-height: 480px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 1;
        -moz-transform: scale(1);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media
    (min-width: 720px) and (min-height: 480px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 720px) and (min-height: 480px) and (-webkit-resolution: 2),
    (min-width: 720px) and (min-height: 480px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 2.5x ======== (only used if pixelmapping is not enforced) */
@media (min-width: 1600px) and (min-height: 1200px) {
    body#ZATACKA.blurry { justify-content: flex-end; }
    body#ZATACKA.blurry { transform-origin: right; }
    body.blurry #wrapper {
        zoom: 2.5;
        -moz-transform: scale(2.5);
    }
    body.blurry * {
        image-rendering: auto;
    }
}

@media (min-width: 1800px) and (min-height: 1200px) {
    body#ZATACKA.blurry { justify-content: center; }
    body#ZATACKA.blurry #wrapper { transform-origin: center; }
}


/* ======== 2.5x (2dppx) ======== (only used if pixelmapping is not enforced) */
@media
    (min-width: 900px) and (min-height: 600px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 900px) and (min-height: 600px) and (-webkit-resolution: 2),
    (min-width: 900px) and (min-height: 600px) and (resolution: 2)
{
    body#ZATACKA.blurry { justify-content: flex-end; }
    body#ZATACKA.blurry { transform-origin: right; }
    body.blurry #wrapper {
        zoom: 1.25;
        -moz-transform: scale(1.25);
    }
    body.blurry * {
        image-rendering: auto;
    }
}

@media
    (min-width: 900px) and (min-height: 600px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 900px) and (min-height: 600px) and (-webkit-resolution: 2),
    (min-width: 900px) and (min-height: 600px) and (resolution: 2)
{
    body#ZATACKA.blurry { justify-content: center; }
    body#ZATACKA.blurry #wrapper { transform-origin: center; }
}


/* ======== 3x ======== */
@media (min-width: 1920px) and (min-height: 1440px) {
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 3;
        -moz-transform: scale(3);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media (min-width: 2160px) and (min-height: 1440px) {
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 3x (2dppx) ======== */
@media
    (min-width: 1080px) and (min-height: 720px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 1080px) and (min-height: 720px) and (-webkit-resolution: 2),
    (min-width: 1080px) and (min-height: 720px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 1.5;
        -moz-transform: scale(1.5);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media
    (min-width: 1080px) and (min-height: 720px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 1080px) and (min-height: 720px) and (-webkit-resolution: 2),
    (min-width: 1080px) and (min-height: 720px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 4x ======== */
@media (min-width: 2560px) and (min-height: 1920px) {
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 4;
        -moz-transform: scale(4);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media (min-width: 2880px) and (min-height: 1920px) {
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 4x (2dppx) ======== */
@media
    (min-width: 1440px) and (min-height: 960px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 1440px) and (min-height: 960px) and (-webkit-resolution: 2),
    (min-width: 1440px) and (min-height: 960px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 2;
        -moz-transform: scale(2);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media
    (min-width: 1440px) and (min-height: 960px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 1440px) and (min-height: 960px) and (-webkit-resolution: 2),
    (min-width: 1440px) and (min-height: 960px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 5x ======== */
@media (min-width: 3200px) and (min-height: 2400px) {
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 5;
        -moz-transform: scale(5);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media (min-width: 3600px) and (min-height: 2400px) {
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 5x (2dppx) ======== */
@media
    (min-width: 1800px) and (min-height: 1200px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 1800px) and (min-height: 1200px) and (-webkit-resolution: 2),
    (min-width: 1800px) and (min-height: 1200px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 2.5;
        -moz-transform: scale(2.5);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media
    (min-width: 1800px) and (min-height: 1200px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 1800px) and (min-height: 1200px) and (-webkit-resolution: 2),
    (min-width: 1800px) and (min-height: 1200px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 6x ======== */
@media (min-width: 3840px) and (min-height: 2880px) {
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 6;
        -moz-transform: scale(6);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media (min-width: 4320px) and (min-height: 2880px) {
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 6x (2dppx) ======== */
@media
    (min-width: 2160px) and (min-height: 1440px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 2160px) and (min-height: 1440px) and (-webkit-resolution: 2),
    (min-width: 2160px) and (min-height: 1440px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 3;
        -moz-transform: scale(3);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media
    (min-width: 2160px) and (min-height: 1440px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 2160px) and (min-height: 1440px) and (-webkit-resolution: 2),
    (min-width: 2160px) and (min-height: 1440px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 7x ======== */
@media (min-width: 4480px) and (min-height: 3360px) {
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 7;
        -moz-transform: scale(7);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media (min-width: 5040px) and (min-height: 3360px) {
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 7x (2dppx) ======== */
@media
    (min-width: 2520px) and (min-height: 1680px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 2520px) and (min-height: 1680px) and (-webkit-resolution: 2),
    (min-width: 2520px) and (min-height: 1680px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 3.5;
        -moz-transform: scale(3.5);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media
    (min-width: 2520px) and (min-height: 1680px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 2520px) and (min-height: 1680px) and (-webkit-resolution: 2),
    (min-width: 2520px) and (min-height: 1680px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 8x ======== */
@media (min-width: 5120px) and (min-height: 3840px) {
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 8;
        -moz-transform: scale(8);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media (min-width: 5760px) and (min-height: 3840px) {
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}


/* ======== 8x (2dppx) ======== */
@media
    (min-width: 2880px) and (min-height: 1920px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 2880px) and (min-height: 1920px) and (-webkit-resolution: 2),
    (min-width: 2880px) and (min-height: 1920px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: flex-end; }
    body#ZATACKA.body { transform-origin: right; }
    body.body #wrapper {
        zoom: 4;
        -moz-transform: scale(4);
    }
    body.body * {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

@media
    (min-width: 2880px) and (min-height: 1920px) and (-webkit-device-pixel-ratio: 2),
    (min-width: 2880px) and (min-height: 1920px) and (-webkit-resolution: 2),
    (min-width: 2880px) and (min-height: 1920px) and (resolution: 2)
{
    body#ZATACKA.body { justify-content: center; }
    body#ZATACKA.body #wrapper { transform-origin: center; }
}
