name: Validation

on:
  pull_request:
    branches:
      - main

jobs:
  validation:
    name: PR Validation Build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v1.2.0
      - name: Build Docker image
        run: |
          docker build .
