name: Validation

on:
  pull_request:
    branches:
      - main

jobs:
  validation:
    name: PR Validation Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build Docker image
        run: |
          docker build .

  tools:
    name: Check Tools
    runs-on: ubuntu-latest
    steps:
      - name: Check Python formatting
        uses: astral-sh/ruff-action@v3
        with:
          version: 0.14.4
          src: ./tools
