name: Validation

on:
  pull_request:
    branches:
      - main

jobs:
  validation:
    name: PR Validation Build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v1.2.0
      - name: Build Docker image
        run: |
          docker build .

  tools:
    name: Check Tools
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1.2.0
      - name: Setup Node
        uses: actions/setup-node@v5.0.0
        with:
          node-version: 24.10.0
          package-manager-cache: false # I don't know if this is needed, but: https://github.com/actions/setup-node/blob/13427813f706a0f6c9b74603b31103c40ab1c35a/README.md?plain=1#L18
      - name: Check Python formatting
        uses: astral-sh/ruff-action@v3.5.1
        with:
          version: 0.14.4
          args: format --check --diff
          src: ./tools
      - name: Check Python lint
        run: ruff check ./tools
      - name: Install npm dependencies
        run: npm ci --omit optional
      - name: Install xdotool
        run: sudo apt-get install --yes xdotool
      - name: Dry-run scenario script (Linux)
        run: DRY_RUN=true ./tools/scenario.py docs/original-game/ZATACKA.EXE 0x7fffd8010ff6 tools/dosbox-linux.conf
      - name: Dry-run scenario script (WSL)
        run: DRY_RUN=true ./tools/scenario.py docs/original-game/ZATACKA.EXE 0x7fffc1c65ff6 tools/dosbox-wsl.conf
